{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block body %}
{# <div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-md-8">
            {{ form_errors(registration_form) }}
            <div class="card">
                <div class="card-header">Add New User</div>
                <div class="card-body">
                    {{ form(registration_form) }}
                </div>
            </div>
        </div>
    </div>
</div> #}
<Register></Register>
{% endblock %}